# Ignore environment files
1-api/news_api_project/.env

# Ignore data folder (optional)
1-api/news_api_project/data/*.xlsx

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore system files (Mac & Windows)
.DS_Store
Thumbs.db

# Ignore logs (optional)
*.log

